//Colors
$pr-clr: hsl(230, 35, 7);
$sd-clr: hsl(231, 77, 90);
$tr-clr: hsl(0, 0, 100);
//TEXT COLOR
$txt-clr: hsl(231, 79, 90);
//TYPROGRAPHY
$heading1: 9.375rem;
$heading2: 6.25rem;
$heading3: 3.5rem;
$heading4: 2rem;
$heading5: 1.75rem;
$s-heading1: 1.75rem;
$s-heading2: 1rem;
$s-heading3: 0.875rem;
$p-size: 15px;
//LINKS
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");
//font family
$pr-font: "Bellefair", serif;
$sd-font: "Barlow Condensed", sans-serif;
