@import "./setting";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  font-family: $sd-font;
  color: $tr-clr;
}

@import "./index";
@import "./destination";
@import "./crew";
@import "./technology";
